SERP_API_KEY=your_serp_api_key_here
FIREBASE_CREDENTIAL=your_firebase_credential_file.json
GEMINI_API_KEY=your_gemini_api_key_here
VIETMAP_API_KEY=your_vietmap_api_key_here
GEOHASH_PRECISION=5
HOTEL_DATA_EXPIRE_DAYS=30